html {height: 100%}
body {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal; color: #221e1f; line-height: 1;}
input, button, pre {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}

/* common */
._oh {
	overflow: hidden;
}
body.menu-open {
	overflow: hidden;
}
body > .wrap {
/*	min-width: 1200px;*/
}
.header-wrap {
	width: 100vw;
	height: 94px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.15);
}
.header-wrap .inner {
	box-sizing: border-box;
	width: 1150px;
	padding: 0 25px;
/*	min-width: 1100px;*/
	min-width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.header-wrap .header-logo {
	position: absolute;
	top: 25px;
	width: 194px;
}
.header-wrap .action-wrap {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	padding: 35px 10px 31px;
}
.header-wrap .action-wrap .lang-box {
	display: inline-block;
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	margin-right: 37px;
	font-size: 0;
	vertical-align: top;
}
.header-wrap .action-wrap .lang-box a,
.header-wrap .action-wrap .lang-box span {
	display: inline-block;
	font-size: 28px;
	color: #c4c4c4;
}
.header-wrap .action-wrap .lang-box span {
	margin: 0 1px;
}
.header-wrap .action-wrap .lang-box a.is-active {
	color: inherit;
}
.header-wrap .action-wrap .js-burger-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 70px;
	z-index: 3;
	cursor: pointer;
}
.header-wrap .action-wrap .burger-ui {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
	margin-top: 2px;
}
.header-wrap .action-wrap .burger-ui .line {
	width: 50px;
	height: 6px;
	background: #221e1f;
	transition: all 0.3s ease;
	transform: translateX(0);
}
.header-wrap .action-wrap .burger-ui .line._2 {margin: 2px 0;}
.menu-open .header-wrap .action-wrap .burger-ui .line {transition: all 0.3s ease;}
.menu-open .header-wrap .action-wrap .burger-ui .line._1 {transform: translateX(100%); transition-delay: 0.1s;}
.menu-open .header-wrap .action-wrap .burger-ui .line._2 {transform: translateX(100%); transition-delay: 0.2s;}
.menu-open .header-wrap .action-wrap .burger-ui .line._3 {transform: translateX(100%); transition-delay: 0.3s;}
.header-wrap .action-wrap .burger-close {
	position: absolute;
	top: 44px;
	right: 55px;
}
.header-wrap .action-wrap .burger-close .line {
	position: absolute;
	width: 37px;
	height: 4px;
	background: #221e1f;
	opacity: 0;
}
.header-wrap .action-wrap .burger-close .line._1 {
	top: 0;
	left: 0;
	transform: rotate(46deg) scale(0);
}
.header-wrap .action-wrap .burger-close .line._2 {
	top: 0;
	left: 0;
	transform: rotate(-46deg) scale(0);
}
.menu-open .header-wrap .action-wrap .burger-close .line._1 {transform: rotate(46deg) scale(1); opacity: 1; transition: 0.4s ease 0.4s;}
.menu-open .header-wrap .action-wrap .burger-close .line._2 {transform: rotate(-46deg) scale(1); opacity: 1; transition: 0.4s ease 0.4s;}

.menu-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 4;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(-100%);
	opacity: 0;
	transition: opacity 0.5s ease;
}
.menu-open .menu-layer {
	transform: translateY(0);
	opacity: 1;
}
.menu-open .menu-layer .spread-layer {
	transform: translateY(0);
	opacity: 1;
}
.menu-layer .spread-layer {
	position: absolute;
	top: 0;
	right: calc((100vw - 1200px)/2);
	background: #ffffff;
	padding-top: 94px;
	width: 430px;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 0.5s ease 0.3s;
}
.menu-layer .spread-layer .row {
	border-bottom: 1px solid #d2d1d1;
	height: 72px;
	padding-right: 31px;
	line-height: 72px;
	text-align: right;
	font-size: 0;
}
.menu-layer .spread-layer .row a {
	display: inline-block;
	height: 100%;
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	font-size: 17px;
	vertical-align: middle;
}
.menu-layer .spread-layer .row.share a {
	margin-right: 28px;
	width: 30px;
	height: 30px;
}
.menu-layer .spread-layer .row.share .fb {background: url(../images/menu_fb.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .kt {background: url(../images/menu_kt.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .ks {background: url(../images/menu_ks.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .url {background: url(../images/menu_url.png) 0 0 / cover no-repeat; width: 38px; height: 38px;}
.menu-layer .spread-layer .row.share a:last-child {
	margin-right: 0;
}
.footer-wrap {
	position: relative;
	height: 218px;
	padding: 0 64px;
	background: #221e1f;
	overflow: hidden;
	z-index: 3;
}
.footer-wrap img {
	width: 100%;
}
.footer-wrap .logo {
	padding: 94px 0 0 0;
	float: left;
}
.footer-wrap .logo img {
	width: 218px;
}
.footer-wrap .right-wrap {
	float: right;
	padding-top: 76px;
}
.footer-wrap .official {
	text-align: right;
	margin-bottom: 19px;
}
.footer-wrap .official img {
	vertical-align: middle;
}
.footer-wrap a {
	display: inline-block;
}
.footer-wrap .fb {
	margin-right: 40px;
}
.footer-wrap .insta {
	margin-right: 30px;
}
.footer-wrap .youtube {
	margin-right: 30px;
}
.footer-wrap .youtube-global {
	position: relative;
	top: -10px;
	margin-right: 38px;
}
.footer-wrap .copyright {
	font-family: 'Hyundai Sans Text KR';
	font-size: 18px;
	font-weight: bold;
	color: #7f7d7e;
}
/* end common */

.section1-wrap {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
}
.section1-wrap .inner {
	position: relative;
	height: 100%;
}
.section1-wrap .inner .video-thumb-layer {
	background: url(../images/main_image.png) center / cover no-repeat;
	height: 100%;
	text-align: center;
}
.section1-wrap .inner .video-thumb-layer .wrapper {
/*	height: 100%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 40px;
}
.section1-wrap .inner .video-layer {
	height: 100%;
	position: relative;
}
.video_html5_api-dimensions {
	height: 100%;
	width: 100%;
}
.video-js .vjs-control-bar {
	top: inherit !important;
}
.video-js .vjs-tech {
	object-fit: cover;
}
.video-js .vjs-time-control {
	margin-top: 0;
	font-size: 1.2em;
}
.section1-wrap .inner .title-wrap {
/*	padding: 21.7% 0 60px;*/
	margin-bottom: 60px;
	text-align: center;
}
.section1-wrap .inner .title-wrap h1 {
	font-family: 'Hyundai Sans Head KR';
	font-weight: bold;
	font-size: 86px;
	color: #fff;
	line-height: 80px;

}
.section1-wrap .inner .title-wrap h3 {
	font-family: 'Hyundai Sans Head KR';
	font-weight: normal;
	font-size: 28px;
	color: #fff;
	padding-top: 21px;
}
.section1-wrap .inner .button-wrap button {
	background: #fff;
	width: 270px;
	height: 70px;
}
.section1-wrap .inner .button-wrap button p {
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	font-size: 22px;
	color: #221e1f;
	line-height: 21px;
}
.section2-wrap {
	position: relative;
	text-align: center;
	overflow: hidden;
	background: #ffffff;
	margin-top: 100vh;
	z-index: 2;
}
.section2-wrap .title-wrap {
	margin-bottom: 30px;
}
.section2-wrap .title-wrap .title {
	padding: 78px 0 33px;
}
.section2-wrap .title-wrap .title h1 {
	font-size: 70px;
	font-weight: bold;
	color: #1d191a;
}
.section2-wrap .title-wrap .sub-title span {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	color: #221e1f;
	display: block;
/*	line-height: 29px;*/
}
.section2-wrap .title-wrap .sub-title span:last-child {
	margin-bottom: 0;
}
.section2-wrap .date-winner {
	margin-bottom: 26px;
}
.section2-wrap .date-winner h3 {
	font-size: 30px;
	font-weight: bold;
	color: #1d191a;
	display: block;
	padding-bottom: 12px;
}
.section2-wrap .date-winner h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	font-weight: normal;
	color: #221e1f;
	display: block;
}
.section2-wrap .date-winner .h4-first {
	padding-bottom: 19px;
}
.section2-wrap .prize {
	font-size: 0;
}
.en .section2-wrap .prize > div {
	vertical-align: top;
}
.en .section2-wrap .prize ._1 .img-wrap {
	margin-top: 38px;
}
.section2-wrap .prize > div {
	display: inline-block;
}
.section2-wrap .prize h3.tt {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 12px;
}
.section2-wrap .prize div img {
	width: 100%;
}
.section2-wrap .prize div span {
	font-family: 'Hyundai Sans Text KR';
	display: block;
	font-size: 20px;
	font-weight: normal;
	color: #221e1f;
	line-height: 24px;
/*	padding-bottom: 10px;*/
}
.section2-wrap .prize div._1 {
	margin-right: 40px;
}
.section2-wrap .prize .img-wrap {
	margin-top: 14px;
}
.section2-wrap .prize .underline {
	display: block;
	width: 311px;
	height: 1px;
	margin: 40px auto;
	background: rgba(29, 25, 26, 0.3);
}
.section2-wrap .winner-ann {
/*	margin-bottom: 35px;*/
	margin-bottom: 73px;
}
.section2-wrap .winner-ann h3.tt {
	font-size: 30px;
	font-weight: bold;
	display: block;
	margin-bottom: 7px;
}
.section2-wrap .winner-ann span {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	line-height: 23px;
	display: block;
}
.section2-wrap .how {
/*	margin: 0 0 91px;*/
}
.section2-wrap .how h3 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 30px;
	font-weight: bold;
	color: #1d191a;
	padding-bottom: 14px;
}
.section2-wrap .how h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	font-weight: normal;
	color: #221e1f;
	margin-bottom: 5px;
}
.section2-wrap .how h4.m-b {
	margin-bottom: 20px;
}
#copyHashtag {
	font-family: 'Hyundai Sans Text KR';
	background: #1d191a;
	width: 361px;
	height: 78px;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	margin: 40px 0;
}
.section2-wrap .instagram .notice {
	width: 603px;
	margin: 73px auto 0;
	position: relative;
}
.en .section2-wrap .instagram .notice {
	width: 730px;
}
.section2-wrap .instagram .notice .text-wrap {
	height: 90px;
	overflow: hidden;
}
.section2-wrap .instagram .notice .fadeOut {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	background: linear-gradient(
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}
.section2-wrap .instagram .notice-more {
	font-family: 'Hyundai Sans Text KR';
	background: #1d191a;
	width: 132px;
	height: 47px;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	display: block;
	margin: 28px auto 0;
}
.section2-wrap .instagram .notice h3 {
	color: #1d191a;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 15px;
}
.section2-wrap .instagram .insta-area {
	width: 1102px;
	margin: 0 auto;
}
.section2-wrap .instagram .notice h4 {
	font-family: 'Hyundai Sans Text KR';
	color: #221e1f;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
}
.section2-wrap .instagram .underline {
	width: 311px;
	height: 1px;
	background: #bbbaba;
	margin: 80px 0;
	display: inline-block;
}
.section2-wrap .contents {
	padding: 0 0 179px;
	min-width: 1200px;
}
.section2-wrap .contents .block .row {
	font-size: 0;
}
.section2-wrap .contents .block .col {
	display: inline-block;
	vertical-align: top;
}
.section2-wrap .contents .block ._left {
	width: 46%;
	text-align: right;
}
.section2-wrap .contents .block ._right {
	width: 54%;
	text-align: left;
}
.section2-wrap .contents .block .col img {
	width: 100%;
	max-width: 100%;
}
.section2-wrap .contents .block .desc .wrap {
	display: inline-block;
}
.section2-wrap .contents .block .desc h3 {
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 9px;
	text-align: left;
}
.section2-wrap .contents .block .desc h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	margin-bottom: 7px;
}
.section2-wrap .contents .block .desc h4:last-child {
	margin-bottom: 0;
}
.section2-wrap .contents .block._1 {
	margin-bottom: 5%;
}
.section2-wrap .contents .block._1 .row._1 {
	margin-bottom: 3.75%;
}
.section2-wrap .contents .block._1 .desc {
	text-align: center;
	padding: 19.7% 0 0 25px;
}
.section2-wrap .contents .block._1 ._right .image-1 {
	padding-right: 19.6%;
}
.section2-wrap .contents .block._1 ._left .image-2 {
	padding-right: 8.5%;
}
.section2-wrap .contents .block._1 ._right .image-3 {
	padding-right: 31.1%;
}
.section2-wrap .contents .block._2 {
	margin-bottom: 7.55%;
}
.section2-wrap .contents .block._2 ._left .image-1 {
	padding-left: 10.7%;
}
.section2-wrap .contents .block._2 ._right {
	position: relative;
	vertical-align: bottom;
}
.section2-wrap .contents .block._2 ._right .desc {
	position: absolute;
	top: -65.5%;
	left: 0;
	padding-left: 7.33%;
}
.section2-wrap .contents .block._2 ._right .desc .wrap {
	vertical-align: top;
}
.section2-wrap .contents .block._2 ._right .image-2 {
	padding: 0 23.16% 0 7.33%;
}
.section2-wrap .contents .block._3 ._left .image-1 {
	padding-right: 8.5%;
	padding-left: 22.9%;
	margin-bottom: 8.3%;
}
.section2-wrap .contents .block._3 .desc {
	text-align: center;
}
.section2-wrap .contents .block._3 .desc .wrap {
	padding-left: 138px;
}
.section2-wrap .contents .block._3 ._right .image-2 {
	padding: 6.85% 0 0 7.33%
}
.section2-wrap .slider {
	padding-bottom: 138px;
}
.section2-wrap .slider .title {
	display: inline-block;
	text-align: left;
	padding: 0 0 23px;
}
.section2-wrap .slider .title img {
	width: 451px;
	height: 98px;
}
.section2-wrap .slider .sub-title {
	margin-bottom: 81px;
}
.section2-wrap .slider .sub-title h3 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	color: #221e1f;
	font-weight: normal;
}
.section2-wrap .slider .studio-slide {
	position: relative;
	width: 100%;
}
.section2-wrap .slider .studio-slide div {
	/* display: inline-block; */
}
.section2-wrap .slider .studio-slide .slick-slide {
	opacity: 0.2;
	transition: opacity 0.5s ease;
}
.section2-wrap .slider .studio-slide .slick-center {
	opacity: 1;
}
.section2-wrap .slider .studio-slide img {
	width: 100%;
}
.section2-wrap .slider .studio-slide button {
	background: #fff;
	width: 80px;
	height: 80px;
}
.section2-wrap .slider .studio-slide button img {
	width: 19px;
}
.section2-wrap .slider .studio-slide .prev {
	position: absolute;
/*	left: 0;*/
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
}
.section2-wrap .slider .studio-slide .next {
	position: absolute;
/*	right: 0;*/
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section2-wrap .slider .desc h2 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 30px;
	color: #1d191a;
	font-weight: bold;
	margin: 60px 0 11px;
}
.section2-wrap .slider .desc h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 20px;
	color: #221e1f;
	font-weight: normal;
}
#btn-go-top {
	position: absolute;
	right: 10%;
	bottom: 16px;
	width: 60px;
	height: 60px;
	background: #222222;
}
#btn-go-top img {
	width: 49px;
	/*	height: 49px;*/
}