@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('../../fonts/HyundaiSansHeadKRRegular.eot');
    src: local('Hyundai Sans Head KR'), local('HyundaiSansHeadKRRegular'),
        url('../../fonts/HyundaiSansHeadKRRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansHeadKRRegular.woff2') format('woff2'),
        url('../../fonts/HyundaiSansHeadKRRegular.woff') format('woff'),
        url('../../fonts/HyundaiSansHeadKRRegular.svg#HyundaiSansHeadKRRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('../../fonts/HyundaiSansHeadKRMedium.eot');
    src: local('Hyundai Sans Head KR Medium'), local('HyundaiSansHeadKRMedium'),
        url('../../fonts/HyundaiSansHeadKRMedium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansHeadKRMedium.woff2') format('woff2'),
        url('../../fonts/HyundaiSansHeadKRMedium.woff') format('woff'),
        url('../../fonts/HyundaiSansHeadKRMedium.svg#HyundaiSansHeadKRMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('../../fonts/HyundaiSansHeadKRBold.eot');
    src: local('Hyundai Sans Head KR Bold'), local('HyundaiSansHeadKRBold'),
        url('../../fonts/HyundaiSansHeadKRBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansHeadKRBold.woff2') format('woff2'),
        url('../../fonts/HyundaiSansHeadKRBold.woff') format('woff'),
        url('../../fonts/HyundaiSansHeadKRBold.svg#HyundaiSansHeadKRBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('../../fonts/HyundaiSansHeadKRLight.eot');
    src: local('Hyundai Sans Head KR Light'), local('HyundaiSansHeadKRLight'),
        url('../../fonts/HyundaiSansHeadKRLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansHeadKRLight.woff2') format('woff2'),
        url('../../fonts/HyundaiSansHeadKRLight.woff') format('woff'),
        url('../../fonts/HyundaiSansHeadKRLight.svg#HyundaiSansHeadKRLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('../../fonts/HyundaiSansTextKRMedium.eot');
    src: local('Hyundai Sans Text KR Medium'), local('HyundaiSansTextKRMedium'),
        url('../../fonts/HyundaiSansTextKRMedium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansTextKRMedium.woff2') format('woff2'),
        url('../../fonts/HyundaiSansTextKRMedium.woff') format('woff'),
        url('../../fonts/HyundaiSansTextKRMedium.svg#HyundaiSansTextKRMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('../../fonts/HyundaiSansTextKRBold.eot');
    src: local('Hyundai Sans Text KR Bold'), local('HyundaiSansTextKRBold'),
        url('../../fonts/HyundaiSansTextKRBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansTextKRBold.woff2') format('woff2'),
        url('../../fonts/HyundaiSansTextKRBold.woff') format('woff'),
        url('../../fonts/HyundaiSansTextKRBold.svg#HyundaiSansTextKRBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('../../fonts/HyundaiSansTextKRRegular.eot');
    src: local('Hyundai Sans Text KR'), local('HyundaiSansTextKRRegular'),
        url('../../fonts/HyundaiSansTextKRRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HyundaiSansTextKRRegular.woff2') format('woff2'),
        url('../../fonts/HyundaiSansTextKRRegular.woff') format('woff'),
        url('../../fonts/HyundaiSansTextKRRegular.svg#HyundaiSansTextKRRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

