html {height: 100%}
body {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal; color: #221e1f;}
input, button, pre {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}

/* common */
._oh {
	overflow: hidden;
}
body.menu-open {
/*	overflow: hidden;*/
}
.header-wrap {
	width: 100vw;
	height: 57px;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.15);
}
.header-wrap .header-logo {
	position: absolute;
	top: 18px;
	left: 10px;
	width: 97px;
}
.header-wrap .action-wrap {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	padding: 21px 10px 15px;
}
.header-wrap .action-wrap .lang-box {
	display: inline-block;
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	margin-right: 15px;
	font-size: 0;
	vertical-align: top;
}
.header-wrap .action-wrap .lang-box a,
.header-wrap .action-wrap .lang-box span {
	display: inline-block;
	font-size: 19px;
	color: #c4c4c4;
}
.header-wrap .action-wrap .lang-box span {
	margin: 0 1px;
}
.header-wrap .action-wrap .lang-box a.is-active {
	color: inherit;
}
.header-wrap .action-wrap .js-burger-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50px;
	z-index: 3;
	cursor: pointer;
}
.header-wrap .action-wrap .burger-ui {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
}
.header-wrap .action-wrap .burger-ui .line {
	width: 31px;
	height: 3px;
	background: #221e1f;
	transition: all 0.3s ease;
	transform: translateX(0);
}
.header-wrap .action-wrap .burger-ui .line._2 {margin: 2px 0;}
.menu-open .header-wrap .action-wrap .burger-ui .line {transition: all 0.3s ease;}
.menu-open .header-wrap .action-wrap .burger-ui .line._1 {transform: translateX(100%); transition-delay: 0.1s;}
.menu-open .header-wrap .action-wrap .burger-ui .line._2 {transform: translateX(100%); transition-delay: 0.2s;}
.menu-open .header-wrap .action-wrap .burger-ui .line._3 {transform: translateX(100%); transition-delay: 0.3s;}
.header-wrap .action-wrap .burger-close {
	position: absolute;
	top: 26px;
	right: 13px;
	width: 21px;
}
.header-wrap .action-wrap .burger-close .line {
	position: absolute;
	width: 21px;
	height: 3px;
	background: #221e1f;
	opacity: 0;
}
.header-wrap .action-wrap .burger-close .line._1 {
	top: 0;
	left: 0;
	transform: rotate(46deg) scale(0);
}
.header-wrap .action-wrap .burger-close .line._2 {
	top: 0;
	left: 0;
	transform: rotate(-46deg) scale(0);
}
.menu-open .header-wrap .action-wrap .burger-close .line._1 {transform: rotate(46deg) scale(1); opacity: 1; transition: 0.4s ease 0.4s;}
.menu-open .header-wrap .action-wrap .burger-close .line._2 {transform: rotate(-46deg) scale(1); opacity: 1; transition: 0.4s ease 0.4s;}

.menu-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 4;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(-100%);
	opacity: 0;
	transition: opacity 0.5s ease;
}
.menu-open .menu-layer {
	transform: translateY(0);
	opacity: 1;
}
.menu-open .menu-layer .spread-layer {
	transform: translateY(0);
	opacity: 1;
}
.menu-layer .spread-layer {
	position: absolute;
	top: 0;
	right: 0;
	background: #ffffff;
	padding-top: 57px;
	width: 68.4vw;
	min-width: 261px;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 0.5s ease 0.3s;
}
.menu-layer .spread-layer .row {
	border-bottom: 1px solid #d2d1d1;
	height: 65px;
	padding-right: 10px;
	line-height: 65px;
	text-align: right;
	font-size: 0;
}
.menu-layer .spread-layer .row a {
	display: inline-block;
	height: 100%;
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	font-size: 16px;
	vertical-align: middle;
}
.menu-layer .spread-layer .row.share a {
	margin-right: 20px;
	width: 20px;
	height: 20px;
}
.menu-layer .spread-layer .row.share .fb {background: url(../images/menu_fb.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .kt {background: url(../images/menu_kt.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .ks {background: url(../images/menu_ks.png) 0 0 / cover no-repeat;}
.menu-layer .spread-layer .row.share .url {background: url(../images/menu_url.png) 0 0 / cover no-repeat; width: 29px; height: 29px;}
.menu-layer .spread-layer .row.share a:last-child {
	margin-right: 0;
}
.footer-wrap {
	position: relative;
	width: 100vw;
/*	height: 183px;*/
	padding: 0 0 32px;
	background: #221e1f;
	z-index: 3;
}
.footer-wrap img {
	display: block;
	width: 100%;
}
.footer-wrap .logo {
	padding: 26px 0 0 9px;
}
.footer-wrap .logo img {
	width: 109px;
}
.footer-wrap .official {
	text-align: center;
	padding: 32px 0 0 0;
}
.footer-wrap .official img {
	vertical-align: middle;
}
.footer-wrap a {
	display: inline-block;
}
.footer-wrap .fb {
	width: 7px;
	margin-right: 26px;
}
.footer-wrap .insta {
	width: 16px;
	margin-right: 20px;
}
.footer-wrap .youtube {
	width: 18px;
	margin-right: 20px;
	margin-top: 2px;
}
.footer-wrap .youtube-global {
	width: 25px;
	margin-right: 25px;
}
.footer-wrap .ks {
	width: 8px;
}
.footer-wrap .underline {
	background: #7f7d7e;
	width: 94.9%;
	height: 1px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 20px;
}
.footer-wrap .copyright {
	width: 73.2%;
	margin: 0 auto;
}
/* end common */

.section1-wrap {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.section1-wrap .inner {
	position: relative;
	height: 100%;
}
.section1-wrap .inner .video-thumb-layer {
	background: url(../images/main_image.png) center / cover no-repeat;
	height: 100%;
	text-align: center;
	position: relative;
}
.section1-wrap .inner .video-thumb-layer .wrapper {
	height: 100%;
}
.section1-wrap .inner .video-layer {
	/* padding-top: 57px; */
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.section1-wrap .inner .video-js {
	width: 100%!important;
	height: 100%!important;
	position: relative;
}
.video-js .vjs-play-control {
	width: 6%;
}
.video-js .vjs-mute-control, .video-js .vjs-volume-menu-button {
	width: 7%;
}
/*
.video-js .vjs-control-bar {
	display: none !important;
	left: 50% !important;
	right: inherit !important;
	transform: translateX(-50%);
}
.video-js .vjs-progress-control {
	min-width: 10em !important;
}

*/
.video-js .vjs-control {
	width: 6em !important;
}
.vjs-tech {object-fit: cover;}
.video-js .vjs-time-control {
	font-size: 1.2em;
	margin-top: 0;
}
.section1-wrap .inner .title-wrap {
/*	padding: 47.4% 0 29.3%;*/
	padding: 37.4% 0 20.3%;
	text-align: center;
}
.section1-wrap .inner .title-wrap h1 {
	font-family: 'Hyundai Sans Head KR';
	font-weight: bold;
	font-size: 47px;
	color: #fff;
	line-height: 53px;

}
.section1-wrap .inner .title-wrap h3 {
	font-family: 'Hyundai Sans Head KR';
	font-weight: 300;
	font-size: 19px;
	color: #fff;
	padding-top: 16px;
}
.section1-wrap .inner .button-wrap button {
	background: #fff;
	width: 242px;
	height: 61px;
}
.section1-wrap .inner .button-wrap button p {
	font-family: 'Hyundai Sans Head KR';
	font-weight: 500;
	font-size: 19px;
	color: #221e1f;
	line-height: 19px;
}
.section2-wrap {
	position: relative;
	text-align: center;
	z-index: 2;
	margin-top: 100vh;
	background: #ffffff;
}
.section2-wrap .title-wrap {
	margin-bottom: 26px;
}
.section2-wrap .title-wrap .title {
	padding: 39px 0 19px;
}
.section2-wrap .title-wrap .title h1 {
	font-size: 29px;
	line-height: 27px;
	font-weight: bold;
	color: #1d191a;
}

.section2-wrap .title-wrap .sub-title span {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	font-weight: normal;
	color: #221e1f;
	display: block;
	line-height: 17px;
}
.section2-wrap .date-winner {
	margin-bottom: 16px;
}
.section2-wrap .date-winner h3 {
	font-size: 17px;
	font-weight: bold;
	color: #1d191a;
	display: block;
	margin-bottom: 7px;
}
.section2-wrap .date-winner h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	font-weight: normal;
	color: #221e1f;
	display: block;
}
.section2-wrap .date-winner .h4-first {
	padding-bottom: 16px;
}
.section2-wrap .prize > div {
	margin-bottom: 28px;
}
.section2-wrap .prize > ._2 {
	margin-bottom: 0;
}
.section2-wrap .prize .img-wrap {
	width: 247px;
	margin: 12px auto 0;
}
.section2-wrap .prize ._2 .img-wrap {
	width: 225px;
}
.section2-wrap .prize .img-wrap img {
	width: 100%;
}
.section2-wrap .prize .underline {
	width: 195px;
	height: 1px;
	background: rgba(187, 187, 187, 0.3);
	margin: 20px 0;
	display: inline-block;
}
.section2-wrap .prize div span {
	display: block;
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	font-weight: normal;
	color: #221e1f;
	line-height: 17px;
}
.section2-wrap .prize div .first {
	padding: 6px 0 0 0;
}
.section2-wrap .how {
	padding: 0 2.8%;
}
.section2-wrap .how h3 {
	font-size: 17px;
	font-weight: bold;
	color: #1d191a;
	padding-bottom: 20px;
}
.section2-wrap .how h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	font-weight: normal;
	color: #221e1f;
	line-height: 16px;
}
.section2-wrap .how h4.m-b {
	margin-bottom: 10px;
}
.section2-wrap #copyHashtag {
	font-family: 'Hyundai Sans Text KR';
	background: #1d191a;
	width: 242px;
	height: 61px;
	color: #fff;
	font-size: 19px;
	font-weight: 500;
	margin: 20px 0;
}
.section2-wrap .prize h3.tt {
	margin-bottom: 7px;
	font-size: 17px;
}
.section2-wrap .prize span {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	line-height: 18px;
}
.section2-wrap .winner-ann {
	margin-bottom: 20px;
}
.section2-wrap .winner-ann h3.tt {
	font-size: 17px;
	font-weight: bold;
	color: #1d191a;
	display: block;
	margin-bottom: 7px;
}
.section2-wrap .winner-ann span {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	line-height: 17px;
	display: block;
}
.section2-wrap .instagram .insta-area {
	width: 310px;
	margin: 0 auto;
	padding-bottom: 26px;
}
.section2-wrap .instagram .notice {
	position: relative;
}
.section2-wrap .instagram .notice .text-wrap {
	height: 50px;
	padding: 0 5%;
	overflow: hidden;
}
.section2-wrap .instagram .notice .fadeOut {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	background: linear-gradient(
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}
.section2-wrap .instagram .notice-more {
	width: 55px;
	height: 23px;
	font-size: 20px;
	color: #ffffff;
	background: #1d191a;
	display: block;
	margin: 3px auto 0;
}
.section2-wrap .instagram .notice h3 {
	color: #1d191a;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 19px;
}
.section2-wrap .instagram .notice h4 {
	font-family: 'Hyundai Sans Text KR';
	color: #221e1f;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
}
.section2-wrap .instagram .underline {
	width: 195px;
	height: 1px;
	background: #bbbaba;
	margin: 38px 0 35px;
	display: inline-block;
}
.section2-wrap .contents img {
	width: 100%;
}
.section2-wrap .contents .image-1 {
	width: 94.7%;
	display: inline-block;
}
.section2-wrap .contents .image-2 {
	width: 94.7%;
	display: inline-block;
}
.section2-wrap .contents .desc {
	padding: 25px 0 67px;
}
.section2-wrap .contents .desc h3 {
	font-size: 29px;
	color: #221e1f;
	font-weight: bold;
	padding-bottom: 13px;
}
.section2-wrap .contents .desc h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	color: #221e1f;
	font-weight: normal;
	line-height: 18px;
}
.section2-wrap .contents .underline {
	width: 195px;
	height: 1px;
	background: #bbbaba;
	margin: 20px 0 20px;
	display: inline-block;
}
.section2-wrap .slider .title {
	display: inline-block;
	text-align: left;
	padding: 65px 0 10px;
}
.section2-wrap .slider .title img {
	width: 198px;
	height: 43px;
}
.section2-wrap .slider .sub-title {
	padding-bottom: 39px;
}
.section2-wrap .slider .sub-title h3 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	color: #221e1f;
	font-weight: normal;
}
.section2-wrap .slider .studio-slide {
	position: relative;
	width: 94.7%;
	display: inline-block;
}
.section2-wrap .slider .studio-slide div {
	/* display: inline-block; */
}
.section2-wrap .slider .studio-slide img {
	width: 100%;
}
.section2-wrap .slider .studio-slide button {
	background: #fff;
	width: 42px;
	height: 52px;
}
.section2-wrap .slider .studio-slide button img {
	width: 11px;
}
.section2-wrap .slider .studio-slide .prev {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
.section2-wrap .slider .studio-slide .next {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section2-wrap .slider .studio-slide .next {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.section2-wrap .slider .desc h2 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 17px;
	color: #1d191a;
	font-weight: bold;
	padding: 27px 0 9px;
}
.section2-wrap .slider .desc h4 {
	font-family: 'Hyundai Sans Text KR';
	font-size: 14px;
	color: #221e1f;
	font-weight: normal;
	padding-bottom: 111px;
}
.section2-wrap .slider .desc ._1 {
	padding-bottom: 0;
}
#btn-go-top {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#btn-go-top img {
	width: 49px;
/*	height: 49px;*/
}