html {height: 100%}
body {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}
input, button, pre {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}

/* common */

/* end common */

.header-wrap {
    width: 100vw;
    height: 57px;
    background: #fff;
    position: fixed;
    z-index: 2;
}
.footer-wrap {
    position: relative;
    width: 100vw;
    height: 183px;
    background: #221e1f;
}
.footer-wrap img {
    width: 100%;
}
.footer-wrap .logo {
    padding: 26px 0 0 9px;
}
.footer-wrap .logo span {
    font-size: 15px;
    color: #7f7d7e;
    font-weight: bold;
    display: block;
    line-height: 11px;
}
.footer-wrap .official {
    text-align: center;
    padding: 32px 0 0 0;
}
.footer-wrap a {
    display: inline-block;
}
.footer-wrap .fb {
    width: 7px;
    margin-right: 26px;
}
.footer-wrap .insta {
    width: 16px;
    margin-right: 20px;
}
.footer-wrap .youtube {
    width: 18px;
    margin-right: 25px;
    margin-top: 2px;
}
.footer-wrap .ks {
    width: 8px;
}
.footer-wrap .underline {
    background: #7f7d7e;
    width: 356px;
    height: 1px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 20px;
}
.footer-wrap .copyright {
    width: 73.2%;
    margin: 0 auto;
}
.section1-wrap .inner {
    position: relative;
}
.section1-wrap .inner .video-wrap img {
    width: 100%;
}
.section1-wrap .inner .title-wrap {
    position: absolute;
    top: 40.6%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.section1-wrap .inner .title-wrap h1 {
    font-family: 'Hyundai Sans Head KR';
    font-weight: bold;
    font-size: 47px;
    color: #fff;
    line-height: 53px;

}
.section1-wrap .inner .title-wrap h3 {
    font-family: 'Hyundai Sans Head KR';
    font-weight: normal;
    font-size: 19px;
    color: #fff;
    padding-top: 21px;
}
.section1-wrap .inner .button-wrap {
    position: absolute;
    top: 78.5%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.section1-wrap .inner .button-wrap button {
    background: #fff;
    width: 242px;
    height: 61px;
}
.section1-wrap .inner .button-wrap button p {
    font-family: 'Hyundai Sans Head KR';
    font-weight: 500;
    font-size: 19px;
    color: #221e1f;
    line-height: 19px;
}
.section2-wrap {
    text-align: center;
}
.section2-wrap .title-wrap {
}
.section2-wrap .title-wrap .title {
    padding: 39px 0 19px;
}
.section2-wrap .title-wrap .title h1 {
    font-size: 29px;
    font-weight: bold;
    color: #1d191a;
}
.section2-wrap .title-wrap .sub-title {
    padding-bottom: 20px;
}
.section2-wrap .title-wrap .sub-title span {
    font-size: 14px;
    font-weight: normal;
    color: #221e1f;
    display: block;
    line-height: 17px;
}
.section2-wrap .title-wrap .date-winner {
    padding-bottom: 29px;
}
.section2-wrap .title-wrap .date-winner h3 {
    font-size: 17px;
    font-weight: bold;
    color: #1d191a;
    display: block;
    padding-bottom: 10px;
}
.section2-wrap .title-wrap .date-winner h4 {
    font-size: 14px;
    font-weight: normal;
    color: #221e1f;
    display: block;
}
.section2-wrap .title-wrap .date-winner .h4-first {
    padding-bottom: 16px;
}
.section2-wrap .title-wrap .prize div {
    width: 187px;
    display: inline-block;
}
.section2-wrap .title-wrap .prize div img {
    width: 100%;
}
.section2-wrap .title-wrap .prize div span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #221e1f;
    line-height: 17px;
    padding-bottom: 10px;
}
.section2-wrap .title-wrap .prize div .first {
    padding: 6px 0 0 0;
}
.section2-wrap .title-wrap .how {
    padding-top: 37px;
}
.section2-wrap .title-wrap .how h3 {
    font-size: 17px;
    font-weight: bold;
    color: #1d191a;
    padding-bottom: 10px;
}
.section2-wrap .title-wrap .how h4 {
    font-size: 14px;
    font-weight: normal;
    color: #221e1f;
    line-height: 20px;
}
.section2-wrap .title-wrap .how .blank {
    padding-bottom: 10px;
}
.section2-wrap .title-wrap .how button {
    background: #1d191a;
    width: 242px;
    height: 61px;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin: 42px 0;
}
.section2-wrap .title-wrap .instagram .notice h3 {
    color: #1d191a;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}
.section2-wrap .title-wrap .instagram .notice h4 {
    color: #221e1f;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
.section2-wrap .title-wrap .instagram .underline {
    width: 195px;
    height: 1px;
    background: #bbbaba;
    margin: 34px 0 24px;
    display: inline-block;
}
.section2-wrap .title-wrap .contents img {
    width: 100%;
}
.section2-wrap .title-wrap .contents .image-1 {
    width: 94.7%;
    display: inline-block;
}
.section2-wrap .title-wrap .contents .image-2 {
    width: 94.7%;
    display: inline-block;
}
.section2-wrap .title-wrap .contents .desc {
    padding: 25px 0;
}
.section2-wrap .title-wrap .contents .desc h3 {
    font-size: 29px;
    color: #221e1f;
    font-weight: bold;
    padding-bottom: 13px;
}
.section2-wrap .title-wrap .contents .desc h4 {
    font-size: 14px;
    color: #221e1f;
    font-weight: normal;
    line-height: 18px;
}
.section2-wrap .title-wrap .contents .underline {
    width: 195px;
    height: 1px;
    background: #bbbaba;
    margin: 20px 0 20px;
    display: inline-block;
}
.section2-wrap .title-wrap .slider .title {
    display: inline-block;
    text-align: left;
    padding: 65px 0 10px;
}
.section2-wrap .title-wrap .slider .title h1 {
    font-size: 27px;
    color: #221e1f;
    font-weight: bold;
}
.section2-wrap .title-wrap .slider .sub-title {
    padding-bottom: 39px;
}
.section2-wrap .title-wrap .slider .sub-title h3 {
    font-size: 14px;
    color: #221e1f;
    font-weight: normal;
}
.section2-wrap .title-wrap .slider .studio-slide {
    position: relative;
    width: 94.7%;
    display: inline-block;
}
.section2-wrap .title-wrap .slider .studio-slide div {
    /* display: inline-block; */
}
.section2-wrap .title-wrap .slider .studio-slide img {
    width: 100%;
}
.section2-wrap .title-wrap .slider .studio-slide button {
    background: #fff;
    width: 42px;
    height: 52px;
}
.section2-wrap .title-wrap .slider .studio-slide button img {
    width: 11px;
}
.section2-wrap .title-wrap .slider .studio-slide .prev {
    position: absolute;
    left: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}
.section2-wrap .title-wrap .slider .studio-slide .next {
    position: absolute;
    right: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section2-wrap .title-wrap .slider .studio-slide .next {
    position: absolute;
    right: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section2-wrap .title-wrap .slider .desc h2 {
    font-size: 17px;
    color: #1d191a;
    font-weight: bold;
    padding: 27px 0 9px;
}
.section2-wrap .title-wrap .slider .desc h4 {
    font-size: 14px;
    color: #221e1f;
    font-weight: normal;
    padding-bottom: 111px;
}