html {height: 100%}
body {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}
input, button, pre {font-family: 'Hyundai Sans Head KR', sans-serif; font-weight: normal; font-style: normal;}

/* common */

/* end common */